/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/* header start */
header {
  padding: 5px 0;
  }
 .logo {
  width: 180px;
  }
.menu ul li a {
   padding: 0 5px 5px 5px !important;
	}
.btn_sign {
   margin-left: 0 !important;
  }
/* header end */
/* banner start */
.banner{ 
  padding-bottom: 60px;
}
.b_text {
	text-align: center;
	}
.b_h1 {
	margin: 10px 0 20px;
	font-size: 30px;
	line-height: 45px; 
	}
.b_p2 {
	margin: 0 50px;
	line-height: 30px; 
	}
.b_img {
	margin: 0 0 30px;
	}
	/* banner end */
	/* feature start */
.p_bottom {
	padding-bottom: 60px;
	}
.f_item {
	margin: 30px 0 0; 
	}
.f_h2 {
	font-size: 20px;
	}
	/* feature end */
	/* course start */
.c_h1 h1{
	font-size: 28px;
	}
.co_item{
	margin: 30px 0 0;
	padding: 15px 15px 20px;
	}
	.co_h2{
	font-size: 20px;
	}
.cli:not(:last-child){
  margin-right: 0;
}
.co_left ul li img, .co_right ul li img{
	width: 18px;
}
.co_left ul li span, .co_right ul li span{
	font-size: 13px; 
}
	/* course end */
		/* testiony start */
.testimony{
  padding-bottom: 60px;
}
.t_item{
  margin-top: 30px;
}
.t_img{
	padding: 0 60px 20px;
}
.t_text{
	text-align: center;
}
	/* testiony end */
	/* footer tpo start */
.footer_top{
	text-align: center;
	padding: 55px 0 20px;
	}
.ft_details{
	margin-bottom: 35px;
	padding-right: 0;
	}
.ft_links{
	margin-bottom: 35px;
	}
	/* footer tpo end */
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/* header start */
header {
   padding: 5px 0;
  }
.menu ul li a {
   padding: 0 5px 5px 5px !important;
	}
.btn_sign {
   margin-left: 0 !important;
  }
/* header end */
/* banner start */
.banner{ 
   padding-bottom: 60px;
}
.b_text {
	 text-align: center;
	}
.b_h1 {
	 margin: 10px 110px 20px;
	 font-size: 30px;
	 line-height: 45px; 
	}
.b_p2 {
		margin: 0 50px;
		line-height: 30px; 
	}
.b_img {
		margin: 0 50px 30px;
	}
	/* feature start */
.p_bottom {
		padding-bottom: 60px;
	}
.f_item {
		margin: 30px 0 0; 
	}
	/* feature end */
	/* course start */
	.c_h1 h1{
		font-size: 28px;
	}
	.co_item{
		margin: 30px 50px 0;
		padding: 15px 15px 20px;
	}
	.co_h2{
		font-size: 20px;
	}
	/* course end */
	/* testiony start */
.testimony{
  padding-bottom: 60px;
}
.t_item{
  margin-top: 30px;
}
.t_img{
	padding: 0 120px 20px;
}
.t_text{
	text-align: center;
}
	/* testiony end */
		/* footer top start */
.footer_top{
		text-align: center;
	}
.ft_details{
	margin-bottom: 35px;
  padding-right: 70px;
  padding-left: 70px;
}
	/* footer top end */

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/* header start */
header{
    padding: 10px 0;
  }
.menu ul li a{
    padding: 0 5px 5px 5px !important;
	}
.btn_sign{
    margin-left: 0 !important;
  }
	/* header end */
	/* banner start */
.b_text {
		text-align: center;
	}
.b_h1 {
		margin: 10px 160px 20px;
		font-size: 35px;
		line-height: 50px; 
	}
.b_p2 {
		margin: 0 110px;
		line-height: 30px; 
	}
.b_img {
		margin: 0 50px 30px;
	}
	/* feature start */
.p_bottom {
		padding-bottom: 80px;
	}
.f_item {
		margin: 40px 0 0; 
	}
	/* feature end */
	/* course start */
	.c_h1 h1{
		font-size: 30px;
	}
	.co_item{
		margin: 40px 120px 0;
	}
	/* course end */
	/* testimony start */
.testimony{
  padding-bottom: 80px;
}
.t_item{
  margin-top: 40px;
}
	/* testimony end */
	/* footer top start */
.footer_top{
		text-align: center;
	}
.ft_details{
	margin-bottom: 35px;
  padding-right: 80px;
  padding-left: 80px;
}
	/* footer top end */
}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* course start */
.co_item {
  padding: 20px 15px 25px;
    }
.cli:not(:last-child){
  margin-right: 0;
}
.co_left ul li img, .co_right ul li img{
	width: 20px;
}
.co_left ul li span, .co_right ul li span{
	font-size: 13px; 
}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
 /* banner start */
.b_h1{
    margin: 10px 110px 20px 0;
}
/* footer top start */
.ft_details{
  padding-right: 130px;
}
/* footer top end */
}


