
/* font links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:ital@0;1&family=Ubuntu:wght@300&display=swap');

/* common css start */
:root{
  --black : #000000;
  --green : #21B537;
  --red   : #FD511A;
  --bgg   : #F0FFF0;
  --fff   : #ffffff;


  --pop   : "Poppins", sans-serif;
  --rob   : "Roboto", sans-serif;

body{
  font-family: var(--pop);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
/* common css end */
/* header start */
  header{
      background-color: var(--bgg);
      padding: 15px 0;
  }
  .c_nav{

  }
  .logo{}
  .menu{}
  .menu ul li a{
    color: var(--black);
    padding: 0 20px !important;  
  }
  .menu ul li a:hover{
    color: var(--red);
  }
  .btn_cm{
    background-color: var(--green);
    border-radius: 33px;
   font-family: var(--rob);
   color: var(--fff);
  }
  .btn_sign{
     padding: 12px 28px;
     margin-left: 15px;
  }
  .btn_cm:hover{
     background-color: var(--red);
  }
/* header end */
/* banner start */
.banner{
  background-color: var(--bgg); 
  padding-bottom: 65px;
}
.b_text{}
.b_p1{
  color: var(--red);
}
.b_h1{
  margin: 10px 45px 20px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: var(--black);
}
.b_h1 span{
  color: var(--green);
}
.b_p2{
  line-height: 36px;
}
.btn_get{
  margin-top: 15px;
  padding: 12px 36px;
}

.b_img{}
/* banner end */
/* feater start */
.feature {}
.p_bottom{
  padding-bottom: 100px;
}
.f_item {
  margin: 45px 0 0;
  padding: 55px 0 50px;
  background-color: var(--bgg);
  border-radius: 10px;
  transition: .33s linear;
}
.f_img {
  width: 75px;
  height: 80px;
}
.f_h2{
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
}
.f_p{}
.f_item:hover{
  background-color: var(--fff);
  box-shadow: 0px 20px 40px 0px #0000001A;
}
/* feater end */
/* course start */
.course{}
.c_h1{}
.c_h1 h1{
  font-weight: 700;
  font-size: 36px;
  color: var(--black);
}
.co_item{
  margin: 60px 0 0;
  border-radius: 10px;
  box-shadow: 0px 10px 40px 0px #0000001A;
  padding: 25px 20px 30px;
}
.co_img{}
.co_img img {
  border-radius: 11px;
}
.co_h2{
  margin: 20px 0 5px;
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
}
.co_p{}
.co_btn{
  margin: 20px 0 35px;
  padding: 8px 28px;
}

.co_footer{}
.co_left{}
.co_right{}
.cli:not(:last-child){
  margin-right: 6px;
}

.co_left ul li img, .co_right ul li img{}
.co_left ul li span, .co_right ul li span{
  font-weight: 500;
}
/* course end */
/* testimony start */
.testimony{
  padding-bottom: 100px;
}
.t_item{
  margin-top: 60px;
}

.t_img{}
.t_img img{
  width: 100%;
}
.t_text{}
.t_text p{}
/* testimony end */

/* footer top start */
.footer_top{
  padding: 55px 0 55px;
  background-color: #282531;
}

.ft_details{
  padding-right: 120px;
}
.ft_details p{
  color: #FFFFFF;
  line-height: 30px; 
}
.ft_links{}
.ft_links h2{
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 30px;
}
.ft_links ul li a{
  margin-bottom: 8px;
  display: block;
  color: white;
  text-decoration: none;
}

/* footer top end */
/* footer start */
footer{
  padding: 20px 0 30px;
  background-color: #282531;
}
footer p{
  color: white;
  line-height: 30px; 
}
footer p a{
  color: white; 
}
/* footer end */
